<template>
    <div class="fill-height">
        <Navbar />
        <div class="row">
            <div class="col">
                <div class="m-4">

                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page">Information</li>
                                <li class="breadcrumb-item active">Payment</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="container row border border-secondary py-2 mt-5 ml-0">
                        <div class="col-sm-4 pl-0">Contact</div>
                        <div class="col-sm-8 pl-0">{{userData.name}}</div>
                    </div>

                    <div class="mt-3">

                        <div>
                            <label class="h4" for="shippingAddress">Available Shipping Address</label>
                        </div>
                        
                        <div class="border p-3 border-secondary">
                            <div
                                class="list-group-item border-secondary"
                                v-for="address in addressData"
                                :key="address.id"
                            >
                                {{address.customer.name}} -
                                {{address.customer.phoneNumber}} -
                                {{address.street}},
                                {{address.city}},
                                {{address.province}},
                                {{address.country}}
                                {{address.postalCode}}
                            </div>
                            <b-button class="btn btn-danger mt-3" @click="goToAddAddress()">Add Shipping Address</b-button>
                        </div>

                    </div>

                    <div class="mt-3">

                        <div>
                            <label class="h4" for="payment">Available Credit Card</label>
                        </div>
                        
                        <div class="border p-3 border-secondary">
                            <div
                                type="button"
                                class="list-group-item border-secondary"
                                v-for="creditCard in creditCardData"
                                :key="creditCard.id"
                            >
                                {{creditCard.cardName}}<br>
                                {{creditCard.cardNumber}}<br>
                                {{creditCard.expirationDate}}
                            </div>
                            <b-button class="btn btn-danger mt-3" @click="goToAddCard()">Add Credit Card</b-button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="separator"></div>

            <div class="col mt-5">
                <div class="m-4">

                    <!-- Item Bought -->
                    <div
                        class="row mb-3"
                        v-for="cartItem in cartData.cartItems"
                        :key="cartItem.id"
                    >
                        <div class="col-sm-4">
                            <img style="width:150px; height:110px;" class="border border-dark" :src="cartItem.item.image" alt="Polygon Claire 24">
                        </div>
                        <div class="col-sm-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col pl-0 text-left">{{cartItem.item.name}}</div>
                                    <div class="col pr-0 text-right">Rp. {{cartItem.item.sellPrice * cartItem.item.quantity}}</div>
                                    <div class="w-100"></div>
                                    <div class="col pl-0 text-left">Quantity: {{cartItem.item.quantity}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item Bought -->

                    <hr>
                
                    <!-- Subtotal -->
                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Subtotal</label>
                        </div>
                        <div>
                            <label>Rp. {{cartData.totalPrice}}</label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Shipping</label>
                        </div>
                        <div>
                            <label>Calculated at next step</label>
                        </div>
                    </div>

                    <hr>
                    
                    <!-- Total -->
                    <div class="d-flex justify-content-between">
                        <div>
                            <label class="h3">Total</label>
                        </div>
                        <div>
                            <label class="h3">Rp. {{cartData.totalPrice}}</label>
                        </div>
                    </div>

                    <div>
                        <b-button @click="goToPayment()" class="btn btn-danger mt-3">Continue to payment</b-button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

<script>
import axios from "axios";
import Navbar from "@/components/NavigationBar.vue";

export default {
    components: {
        Navbar,
    },
    data: () => {
        return{
            total: 0,
            subtotal: 0,
            addressData: [],
            cartData: [],
            creditCardData: [],
            userData: {},
            userId: "",
            selectedAddress: 0
        };
    },
    methods:{
        getAddressData() {
            axios
                .get("http://localhost:8000/customers/"+this.userId+"/addresses")
                .then((response) => {
                    this.addressData = response.data;
                    console.log(response.data);
            });
        },
        getCartData(){
            axios
                .get("http://localhost:8000/carts/customers/" + this.userId)
                .then((response) => {
                    console.log(response.data);
                    this.cartData = response.data;
            });
        },
        getUserId(){
            this.userId = this.$route.params.userId;
            axios
                .get("http://localhost:8000/customers/" + this.userId)
                .then((response) => {
                    console.log(response.data);
                    this.userData = response.data;
            });
        },
        getCreditCardData() {
            axios
                .get("http://localhost:8000/customers/" + this.userId + "/ccinfo/")
                .then((response) => {
                    this.creditCardData = response.data;
                    console.log(response);
                });
        },
        goToPayment(){
            this.$router.push({ path: "/payment-transaction/payment/" + this.userId});
        },
        isSelected: function (i) {
            return i === this.selectedAddress;
        },
        goToAddAddress(){
            this.$router.push({ path: "/add-address/" + this.userId});
        },
        goToAddCard(){
            this.$router.push({ path: "/credit-card/" + this.userId});
        }
    },
    mounted() {
        this.getUserId();
        this.getAddressData();
        this.getCreditCardData();
        this.getCartData();
    }
}
</script>

<style>
.separator{
    border-right: 2px solid lightgray;
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb{ 
    background-color : unset !important; 
}
.breadcrumb {
    padding: 0px;
 }
hr{
    border-top: 2px solid lightgray
}
</style>