<template>
  <div>
    <Navbar />
    <div class="row">
      <div class="col">
        <div class="m-4">
          <div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li
                  @click="goToInformation()"
                  class="breadcrumb-item"
                  aria-current="page"
                >
                  <a>Information</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Payment</li>
              </ol>
            </nav>
          </div>

          <div class="container row border py-2 mt-5 ml-0">
            <div class="col-sm-4 pl-0">Contact</div>
            <div class="col-sm-8 pl-0">{{ userData.name }}</div>
          </div>

          <div class="mt-3">
            <b-form>
              <div>
                <label class="h4" for="shippingAddress">Shipping Address</label>
              </div>

              <label>Choose your address!</label>

              <!-- If user sudah menambahkan alamat-->
              <div class="border p-3">
                <div
                  type="button"
                  class="list-group-item border-secondary"
                  v-for="address in addressData"
                  :key="address.id"
                  v-bind:class="{ active: isSelectedAddress(address.id) }"
                  v-on:click="changeSelectedAddress(address)"
                >
                  {{ address.customer.name }} -
                  {{ address.customer.phoneNumber }} - {{ address.street }},
                  {{ address.city }}, {{ address.province }},
                  {{ address.country }}
                  {{ address.postalCode }}
                </div>
                <!-- end if -->
              </div>
            </b-form>
          </div>

          <div class="mt-3">
            <b-form>
              <div>
                <label class="h4" for="shippingMethod">Shipping Method</label>
              </div>

              <label>Choose shipping method!</label>

              <div
                type="button"
                class="list-group-item d-flex justify-content-between"
                v-for="shipping in shippingData"
                :key="shipping.id"
                v-bind:class="{ active: isShippingSelected(shipping.id) }"
                v-on:click="changeSelectedShippingMethod(shipping)"
                v-bind:value="{ name: shipping.name, price: shipping.price }"
              >
                <div>{{ shipping.name }}</div>
                <div>Rp. {{ shipping.price }}</div>
              </div>
            </b-form>
          </div>

          <div class="mt-3">
            <b-form>
              <div>
                <label class="h4" for="payment">Payment</label>
              </div>

              <label>All transactions are secure and encrypted.</label>

              <div class="border rounded">
                <div class="form-check">
                  <div class="ml-2 mt-2">
                    <b-form-group v-slot="{ ariaDescribedby }">
                      <b-form-radio
                        v-model="salesOrderObj.paymentMethod"
                        :aria-describedby="ariaDescribedby"
                        value="Credit Card"
                        >Credit Card</b-form-radio
                      >

                      <div
                        v-if="salesOrderObj.paymentMethod == 'Credit Card'"
                        class="mx-3"
                      >
                        <div class="list-group mt-3" id="listGroup">
                          <div
                            type="button"
                            class="list-group-item"
                            v-for="creditCard in creditCardData"
                            :key="creditCard.id"
                            v-bind:class="{ active: isSelected(creditCard.id) }"
                            v-on:click="selectedCreditCard = creditCard.id"
                          >
                            {{ creditCard.cardName }}<br />
                            {{ creditCard.cardNumber }}<br />
                            {{ creditCard.expirationDate }}
                          </div>
                        </div>
                      </div>

                      <b-form-radio
                        v-model="salesOrderObj.paymentMethod"
                        :aria-describedby="ariaDescribedby"
                        value="Cash on Delivery"
                        >Cash on Delivery</b-form-radio
                      >
                    </b-form-group>
                  </div>
                </div>
              </div>
            </b-form>
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="col mt-5">
        <div class="m-4">
          <!-- Item Bought -->
          <div
            class="row mb-3"
            v-for="cartItem in cartData.cartItems"
            :key="cartItem.id"
          >
            <div class="col-sm-4">
              <img
                style="width: 150px; height: 110px"
                class="border border-dark"
                :src="cartItem.item.image"
                alt="Polygon Claire 24"
              />
            </div>
            <div class="col-sm-8">
              <div class="container">
                <div class="row">
                  <div class="col pl-0 text-left">{{ cartItem.item.name }}</div>
                  <div class="col pr-0 text-right">
                    Rp. {{ cartItem.item.sellPrice * cartItem.item.quantity }}
                  </div>
                  <div class="w-100"></div>
                  <div class="col pl-0 text-left">
                    Quantity: {{ cartItem.item.quantity }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Item Bought -->

          <hr />

          <!-- Subtotal -->
          <div class="d-flex justify-content-between">
            <div>
              <label>Subtotal</label>
            </div>
            <div>
              <label>Rp. {{ cartData.totalPrice }}</label>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div>
              <label>Shipping</label>
            </div>
            <div>
              <label v-if="selectedShipping == 0"></label>
              <label v-if="selectedShipping == 1"
                >Rp. {{ shippingData[0].price }}</label
              >
              <label v-if="selectedShipping == 2"
                >Rp. {{ shippingData[1].price }}</label
              >
            </div>
          </div>

          <hr />

          <!-- Total -->
          <div class="d-flex justify-content-between">
            <div>
              <label class="h3">Total</label>
            </div>
            <div>
              <label v-if="selectedShipping == 0" class="h3"
                >Rp {{ cartData.totalPrice }}</label
              >
              <label v-if="selectedShipping == 1" class="h3"
                >Rp {{ cartData.totalPrice + shippingData[0].price }}</label
              >
              <label v-if="selectedShipping == 2" class="h3"
                >Rp {{ cartData.totalPrice + shippingData[1].price }}</label
              >
            </div>
          </div>

          <div>
            <b-button @click="createPayment()" class="btn btn-danger my-3"
              >Pay Now</b-button
            >
            <a @click="goToInformation()" type="button" class="mx-3"
              >Return to Information</a
            >

            <b-modal id="modal-1" title="Pay Now">
              <p class="my-4">Apakah anda yakin membayar?</p>

              <template #modal-footer="{ cancel }">
                <b-button size="sm" variant="secondary" @click="cancel()">
                  Tidak
                </b-button>
                <b-button
                  text="Ya"
                  size="sm"
                  variant="danger"
                  v-on:click="createPayment()"
                >
                  Ya
                </b-button>
              </template>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/components/NavigationBar.vue";

export default {
  components: {
    Navbar,
  },
  data: () => {
    return {
      selectedAddress: 0,
      selectedShipping: 0,
      selectedCreditCard: 0,
      selectedPayment: 0,
      creditCardData: [],
      addressData: [],
      cartData: [],
      userData: {},
      userId: "",
      shippingData: [
        {
          id: 1,
          name: "Standard",
          price: 25000,
        },
        {
          id: 2,
          name: "Express",
          price: 45000,
        },
      ],
      salesOrderObj: {
        paymentId: 1,
        date: "",
        paymentMethod: "",
        receiverName: "",
        receiverPhoneNumber: "",
        shippingAddress: "",
        shippingMethod: "",
        totalPrice: 0,
      },
      shippingPrice: 0,
    };
  },
  methods: {
    getAddressData() {
      axios
        .get("http://localhost:8000/customers/" + this.userId + "/addresses")
        .then((response) => {
          this.addressData = response.data;
          console.log(response);
        });
    },
    getCartData() {
      axios
        .get("http://localhost:8000/carts/customers/" + this.userId)
        .then((response) => {
          console.log(response.data);
          this.cartData = response.data;
        });
    },
    getUserId() {
      this.userId = this.$route.params.userId;
      axios
        .get("http://localhost:8000/customers/" + this.userId)
        .then((response) => {
          console.log(response.data);
          this.userData = response.data;
        });
    },
    getCreditCardData() {
      axios
        .get("http://localhost:8000/customers/" + this.userId + "/ccinfo/")
        .then((response) => {
          this.creditCardData = response.data;
          console.log(response);
        });
    },
    goToInformation() {
      this.$router.push({
        path: "/payment-transaction/information/" + this.userId,
      });
    },
    isSelectedAddress: function (i) {
      return i === this.selectedAddress;
    },
    isShippingSelected: function (i) {
      return i === this.selectedShipping;
    },
    isSelected: function (i) {
      return i === this.selectedCreditCard;
    },
    changeSelectedShippingMethod(shipping) {
      this.selectedShipping = shipping.id;
      this.shippingPrice = shipping.price;
      this.salesOrderObj.shippingMethod = shipping.name;
    },
    changeSelectedAddress(address) {
      this.selectedAddress = address.id;
      this.salesOrderObj.shippingAddress =
        address.street +
        "-" +
        address.city +
        "-" +
        address.province +
        "-" +
        address.country;
      this.salesOrderObj.receiverPhoneNumber = address.customer.phoneNumber;
      this.salesOrderObj.receiverName = address.customer.name;
    },
    createPayment() {
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0");
      var yyyy = today.getFullYear();

      today = yyyy + "-" + mm + "-" + dd;
      this.salesOrderObj.date = today.toString();
      this.salesOrderObj.totalPrice =
        this.cartData.totalPrice + this.shippingPrice;

      console.log(this.salesOrderObj);

      axios
        .post("http://localhost:8000/payments", {
          totalPrice: this.salesOrderObj.totalPrice,
          creditCardInfoId: this.selectedCreditCard,
        })
        .then((response) => {
          console.log(response);
          this.salesOrderObj.paymentId = response.data.id;
          console.log(this.salesOrderObj);
          axios
            .post("http://localhost:8000/sales-order/customers/"+this.userId, this.salesOrderObj)
            .then((response) => {
              console.log(response);
            });
        });
      axios
        .delete("http://localhost:8000/carts/" + this.userId)
        .then((response) => {
          console.log(response);
          window.alert("Payment Successfull");
          this.$router.push({
            path: "/home/" + this.userId,
          });
        });
    },
  },
  mounted() {
    this.getUserId();
    this.getAddressData();
    this.getCartData();
    this.getCreditCardData();
  },
};
</script>

<style>
.separator {
  border-right: 2px solid lightgray;
  height: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb {
  background-color: unset !important;
}
.breadcrumb {
  padding: 0px;
}
hr {
  border-top: 2px solid lightgray;
}
</style>