<template>
  <div>
    <b-button @click="openSidebar()" variant="transparent" style="margin-right:25px;">
      <b-icon icon="cart3" aria-label="Cart"></b-icon>
    </b-button>

    <b-modal v-model="modalView" title="Cart Message" hide-footer>Perubahan cart anda telah disimpan</b-modal>
    <b-sidebar
      id="sidebar-backdrop"
      backdrop
      shadow
      right
      width="30%"
      no-header-close
      v-model="sidebarView"
    >
    <div class="px-4 py-2">
        <b-button class="float-right" @click="closeSidebar()" variant="transparent" style="width:30">
          <p class="h3 mb-2"><b-icon icon="x" aria-label="close" aria-hidden="true"></b-icon></p>
        </b-button>
        
        <div v-if='this.errorMessage != "-"' style="margin-top:50px">
          <h3>{{errorMessage}}</h3>
        </div>

        <div v-else>
          <div style="margin-top:40px">
            <span class="header1">My Cart</span><br>
            <span class="subtext1">Total Items: {{ cartData.totalItem }}</span>
          </div>

          <div v-if="cartData.totalItem == 0">
            <p>Cart is Empty</p>
          </div>

          <div class="items" v-else v-for="(item, ind) in cartItems" :key="item.id">
            <div style="padding-bottom: 30px">
              <b-card no-body class="overflow-hidden" style="border: 0px">
                <b-row no-gutters>
                  <b-col md="5">

                    <b-row>
                      <b-img :src="item.item.image" fluid></b-img>
                    </b-row>

                    <b-row>
                      <b-col style="padding:0px;">
                        <b-button class="float-right" @click="decreaseCartItem(ind)" variant="transparent">
                          <b-icon icon="dash" aria-label="Kurang" aria-hidden="true"></b-icon>
                        </b-button>
                      </b-col>
                      <b-col style="padding:0px;">
                        <b-form-input
                          id="input-1"
                          v-model="item.item.quantity"
                          type="number"
                        ></b-form-input>
                      </b-col>
                      <b-col style="padding:0px;">
                        <b-button @click="addCartItem(ind)" variant="transparent">
                          <b-icon icon="plus" aria-label="Tambah"></b-icon>
                        </b-button>
                      </b-col>
                    </b-row>

                  </b-col>

                  <b-col md="6">
                    <b-card-body :title="item.item.name" style="padding-top: 0px">
                      <b-card-text>
                        Rp.{{item.item.sellPrice}}
                      </b-card-text>
                    </b-card-body>
                  </b-col>
                </b-row>
              </b-card>
            </div>

          </div>

          <div class="bottomGroup">
            <span class="estimasi">Estimated Total:</span>
            <span class="estimasi" style="float:right">Rp. {{cartData.totalPrice}}</span><br>
            <b-button @click="goToPaymentTransaction()" class="checkout" variant="danger" size="lg" block pill>Go To Checkout</b-button>
          </div>
        </div>
    </div>
    </b-sidebar>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data(){
    return{
      sidebarView: false,
      modalView: false,
      userId: "",
      cartData:"",
      cartItems:[],
      errorMessage: "-",
      isEdited: false,
      totalHarga:1,
    };
  },
  methods:{
    addCartItem(index){
      this.cartItems[index].item.quantity+=1;
      axios
        .put(`http://localhost:8000/carts/customers/1`, [{
          "cartItemId":this.cartItems[index].id,
          "quantity":this.cartItems[index].item.quantity
        }])
        .then((response)=>{
          console.log(response)
        })
        .catch((error) =>{
          if (error.response) {
            console.log(error.response.data.message);
            this.errorMessage = error.response.data.message;
            console.log(this.errorMessage);
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log('Error', error.message);
          }
          console.log(error.config);
        });
      this.isEdited = true;
    },
    decreaseCartItem(index){
      if(this.cartItems[index].item.quantity>0){
        this.cartItems[index].item.quantity-=1;
        axios
          .put(`http://localhost:8000/carts/customers/`+ this.userId, [{
            "cartItemId":this.cartItems[index].id,
            "quantity":this.cartItems[index].item.quantity
          }])
          .then((response)=>{
            console.log(response)
          })
          .catch((error) =>{
            if (error.response) {
              console.log(error.response.data.message);
              this.errorMessage = error.response.data.message;
              console.log(this.errorMessage);
            } else if (error.request) {
              console.log(error.request);
            } else {
              console.log('Error', error.message);
            }
            console.log(error.config);
          });
        this.isEdited = true;
      }
      else{
        this.cartItems[index].item.quantity = 0;
      }
    },
    closeSidebar(){
      this.sidebarView = false;
      if(this.isEdited){
        this.modalView = true;
        this.isEdited = false;
      }
      this.getUserCart();
    },
    openSidebar(){
      this.sidebarView = true;
    },
    getUserId(){
      this.userId = this.$route.params.userId;
    },
    getUserCart() {
      axios
        .get(`http://localhost:8000/carts/customers/`+ this.userId)
        .then((response) => {
          this.cartData = response.data;
          this.cartItems = response.data.cartItems;
        })
        .catch((error) =>{
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data.message);
            this.errorMessage = error.response.data.message;
            console.log(this.errorMessage);
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
          }
          console.log(error.config);
        });
    },
    goToPaymentTransaction(){
      this.$router.push({ path: "/payment-transaction/information/"+this.userId });
    }
  },
  mounted(){
    this.getUserId();
    this.getUserCart();
  }
}
</script>
<style>
.header1 {
  color: #5F5F5F;
  font-family: Oswald;
  font-size: 30px;
}
.subtext1 {
  color: black;
  font-family: Open-Sans;
  font-size: 24;
}
.items{
  position: relative;
  margin-top: 20px;
}
.estimasi{
  color: black;
  font-size: 30;
  font-family: Roboto;
  font-weight: bold;
}
.checkout{
  margin-top: 25px;
  margin-bottom: 25px;
}
.bottomGroup{
  position: absolute;
  width: 90%;
  bottom: 0;
}
</style>