<template>
  <div class="Item">
    <b-modal v-model="modalView" title="Cart Message" hide-footer>Cart item added</b-modal>
    <div class="path">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/">Home</router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/product">Product</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Item</li>
      </ol>
    </div>

    <img class="item_image" :src="itemData.image" />

    <div class="item_info">
      <h5 class="item_name">{{ itemData.name }}</h5>
      <h5 class="item_price">{{ itemData.sellPrice }}</h5>
      <p class="item_quantity">Stock: {{itemData.quantity}}</p>
      <br />
      <div class="control number text-center">
        <button
          class="decrement-button"
          @click="dec"
          style="
            border-right: 0.2px solid lightgrey;
            float: left;
            margin-right: 11px;
          "
        >
          −
        </button>
        <span>{{ quan }}</span>
        <button
          class="increment-button"
          @click="inc"
          style="border-left: 0.2px solid lightgrey; margin-left: 16px"
        >
          +
        </button>
        <br /><br />
      </div>
      <button class="add-to-cart-button" @click="addtoCart()">
        ADD TO CART
      </button>
    </div>

    <div class="item_desc">
      <div class="more info d-flex justify-content-between text-center">
        <div class="col4 flex-fill">
          <h6> DESCRIPTION </h6>
        </div>
      </div>
      <div class="container pt-3">
        <div class="row">
          <p>{{itemData.description}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bottle from "../assets/bottle1.png";
import axios from "axios";

export default {
  data: () => {
    return {
      itemId: "",
      quan: 1,
      itemData: [],
      bottle,
      active: 0,
      userId: "",
      modalView: false
    };
  },
  methods: {
    getItemId() {
      this.itemId = this.$route.params.id;
    },
    getUserId(){
      this.userId = this.$route.params.userId;
    },
    getItemData() {
      axios
        .get("http://localhost:8000/items/" + this.itemId)
        .then((response) => {
          this.itemData = response.data;
        });
    },
    inc() {
      // Info box Incrememnt button
      if (this.quan < this.itemData.quantity) return this.quan++;
    },
    dec() {
      // Info box Decrememnt button
      if (this.quan >= 2) return this.quan--;
    },
    addtoCart(){
      axios
        .post("http://localhost:8000/carts",{
          "customerId" : this.userId,
          "items" : [{
            "itemId" : this.itemId,
            "quantity": this.quan
          }]
        })
        .then((res)=>{
          console.log(res);
          this.modalView = true;
        })
        .catch((error) =>{
          if (error.response) {
            console.log(error.response.data.message);
            this.errorMessage = error.response.data.message;
            console.log(this.errorMessage);
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log('Error', error.message);
          }
          console.log(error.config);
        });
    }
  },
  mounted() {
    this.getUserId();
    this.getItemId();
    this.getItemData();
  },
};
</script>

<style>
.Item {
  padding: 10px;
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "Path Path"
    "Image Info"
    "Desc Desc";
}

.path {
  grid-area: Path;
  background: none;
}

.item_image {
  grid-area: Image;
  background: white;
  width: 400px;
  height: 400px;
  min-width: 90% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_info {
  grid-area: Info;
  margin-left: 50px;
  margin-top: 30px;
}

.item_name {
  font-size: 40px;
}
.item_price {
  font-size: 25px;
}

.item_desc {
  grid-area: Desc;
  margin-top: 50px;
}

.control.number {
  border: 0.2px solid lightgrey;
  font-size: 19px;
  font-weight: bold;
  height: 35px;
  width: 140px;
  margin-bottom: 30px;
}
.control.number button {
  border: none;
  background: inherit;
  width: 40px;
  height: 35px;
  outline-style: none;
}
.control.number button:hover {
  background-color: lightgrey;
}

.add-to-cart-button {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 155px;
  height: 70px;
  background-color: #2c3539;
  color: #fff;
  font-size: 15px;
  padding: 0px 30px;
  cursor: pointer;
  position: relative;
  top: 0;
  z-index: 1;
  border: none;
  box-shadow: 0 26px 38px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-to-cart-button:hover,
.add-to-cart-button:focus {
  background-color: inherit;
  color: black;
}

.col4 h6 {
  height: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
  color: black;
  font-weight:bold;
}

/*BreadCrumb */
.path .breadcrumb {
  background: inherit !important;
  color: #2c3539 !important;
  font-size: 20px;
  margin-top: 30px;
}

.path .breadcrumb > li > a {
  text-decoration: none !important;
  color: #2c3539 !important;
}

.path .breadcrumb > li {
  text-decoration: none !important;
  color: #f2be00 !important;
}
</style>