<template>
  <div class="navbar">
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand @click="goToHome()"
        ><b-img
          src="../assets/sepedaku_logo.png"
          fluid
          style="max-height: 60px; margin-left: 20px"
      /></b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item @click="goToHome()" style="margin-left:25px;">HOME</b-nav-item>
            <b-nav-item @click="goToProduct()" style="margin-left:25px;">PRODUCT</b-nav-item>
            <b-nav-item href="#" style="margin-left:25px;">CONTACT US</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-button variant="transparent" style="margin-right: 25px">
            <b-icon icon="search" aria-label="Cart"></b-icon>
          </b-button>
          <b-button
            variant="transparent"
            style="margin-right: 25px"
            @click="goToProfile()"
          >
            <b-icon icon="person-circle" aria-label="Cart"></b-icon>
          </b-button>
          <Cart />
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
// @ is an alias to /src
import Cart from "@/components/Cart.vue";

export default {
    data(){
        return{
            userId:""
        };
    },
  components: {
    Cart,
  },
  methods:{
      goToProfile(){
          this.$router.push({ path: "/profile/"+this.userId  });
      },
      goToHome(){
          this.$router.push({ path: "/home/"+this.userId  });
      },
      goToProduct(){
          this.$router.push({ path: "/product/"+this.userId  });
      },
      getUserId() {
        this.userId = this.$route.params.userId;
      },
  },
  mounted(){
    this.getUserId()
  }
}
</script>
<style>
.navbar{
    position: sticky;
    min-width:100%;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    padding:0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color:#ebe2e1;
    z-index: 10;
}
</style>