<template>
  <div class="ProductMain">
    <!-- PATH -->
    <b-modal v-model="modalView" title="Cart Message" hide-footer>Cart item added</b-modal>
    <div class="ProductPath">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link to="/">Home</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
    </div>

    <!--SORT-->
    <div class="ProductSort">
      <div class="sort">
        <div class="sort_category">
          <h4>Catagories +</h4>
          <br>
          <router-link :to="'/product/'+userId+'/sort/bicycle'" class = "sort_tag">Bicycle</router-link> <br>
          <router-link :to="'/product/'+userId+'/sort/sparepart'" class = "sort_tag">Spare Parts</router-link> <br>
          <router-link :to="'/product/'+userId+'/sort/helmet'" class = "sort_tag">Helmet</router-link> <br>
          <router-link :to="'/product/'+userId+'/sort/other'" class = "sort_tag">Other</router-link>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="ProductList">
      <div class="prod">
        <div v-if="itemLength == 0">Item is currently empty</div>
        <div class="product" v-else v-for="product in itemData.slice(0, show_limit)" :key="product.id">
          <div class="overlay">
            <button type="button" @click="addtoCart(product.id)" class="btn btn-outline-secondary btn-lg">
              Add +
            </button>
            <router-link :to="'/product/'+ userId +'/'+ product.id">
              <button type="button" class="btn btn-outline-secondary btn-lg">
                Info
              </button>
            </router-link>
          </div>
          <img class="product_image" :src="product.image" />
          <div class="product_detail">
            {{ product.name }}<br />
            Rp {{ product.sellPrice }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => {
    return {
      itemData: [],
      show_limit:6,
      userId: "",
      modalView:false,
      itemLength:0
    };
  },
  methods: {
    getItemData() {
      axios
        .get("http://localhost:8000/items")
        .then((response) => {
          this.itemData = response.data;
          this.itemLength = this.itemData.length;
        });
    },
    getUserId() {
      this.userId = this.$route.params.userId;
    },
    addtoCart(itemId){
      axios
        .post("http://localhost:8000/carts",{
          "customerId" : this.userId,
          "items" : [{
            "itemId" : itemId,
            "quantity": 1
          }]
        })
        .then((response)=>{
          console.log(response);
          this.modalView=true;
        })
    }
  },
  mounted() {
    this.getItemData();
    this.getUserId();
  }
};
</script>

<style>
.ProductMain {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "Area Area"
    "Sort List";
}

.ProductList {
  grid-area: List;
}

.ProductPath {
  grid-area: Area;
}

.ProductSort {
  grid-area: Sort;
}

/* Product Area */
.breadcrumb {
  background: inherit !important;
  color: #2c3539 !important;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

.breadcrumb > li > a {
  text-decoration: none !important;
  color: #2c3539 !important;
}

.breadcrumb > li {
  text-decoration: none !important;
  color: #f2be00 !important;
}

/* Product Sort */
.sort {
  height: 375px;
  width: 225px;
  background-color: #2b3438;
  margin-left: 20px;
}

.sort_category {
  padding: 25px;
  margin-left: 10px;
  color: #e1eaed;
}
.sort_tag{
  color: #e1eaed;
  size: 20px;
}

.sort_tag:hover{
  text-decoration:underline;
  cursor:pointer;
  color: #e1eaed;
}

/*Product List*/
.ProductList {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr;
}

.prod {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.product {
  text-align: center;
  background: white;
  margin: 5px;
  height: 275px;
  transition: 500ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.product_detail {
  height: 75px;
  padding: 15px;
}
.product_image {
  padding: 10px;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  background-color: #232b34;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease-in;
}
.product button {
  width: 140px;
  margin-bottom: 10px;
}

.product:hover img {
  filter: blur(4px);
}

.product:hover .overlay {
  opacity: 0.8;
}

.product:hover,
.product:active {
  transform: scaleY(1.1) scaleX(1.06);
  box-shadow: 0 14px 98px rgba(0, 0, 0, 0.25), 0 0px 60px rgba(0, 0, 0, 0.22);
}

/*More*/
.btn-light {
  color: black !important;
  background: white;
  border-radius: 0 !important;
  border: 1px solid grey !important;
}

.btn-outline-secondary {
  border-radius: 0 !important;
}
</style>