<template>
  <div class="AddProduct">
    <div class="add_prod">
      <h3>Add New Product</h3>
      <br />
      <b-form @submit="onSubmit">
        <b-form-group label="Name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="itemData.name"
            placeholder="item name"
            required
          />
        </b-form-group>

        <b-form-group label="Description:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="itemData.description"
            placeholder="item description"
            required
          />
        </b-form-group>

        <b-form-group label="Category:" label-for="input-3">
          <b-form-select
            id="input-3"
            v-model="itemData.category"
            :options="categoryItem"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group label="Quantity:" label-for="input-4">
          <b-form-input
            id="input-4"
            type="number"
            v-model="itemData.quantity"
            required
          />
        </b-form-group>

        <b-form-group label="Sell Price:" label-for="input-5">
          <b-form-input
            id="input-5"
            type="number"
            v-model="itemData.sellPrice"
            required
          />
        </b-form-group>

        <b-form-group label="Image:" label-for="input-6" />
        <input type="file" @change="inputImage" />

        <img
          :src="itemData.image"
          style="height: 50px; margin-top: 10px; margin-right: 20px"
        /><br />

        <b-button
          type="submit"
          variant="primary"
          style="margin-top: 20px; margin-right: 10px"
          >Update Item</b-button
        >
      </b-form>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => {
    return {
      selected: "other",
      itemId: "",
      itemData: {
          name:"",
          description:"",
          category:"",
          quantity:1,
          sellPrice:0,
          image:""
      },
      imageFile: [],
      categoryItem: ["bicycle", "helmet", "sparepart", "other"],
    };
  },
  methods: {
    inputImage(event) {
      this.imageFile = event.target.files;
      console.log(this.imageFile[0]);

      const reader = new FileReader();
      reader.readAsDataURL(this.imageFile[0]);
      reader.onload = () => {
        this.itemData.image = reader.result;
        console.log(this.itemData.image);
      };
    },

    onSubmit(event) {
      event.preventDefault();
      console.log(this.itemData);
      axios
        .post(`http://localhost:8000/items/`, this.itemData)
        .then((response) => {
          console.log(response);
          window.alert("Item Added!");
        });
    },
  },
};
</script>
<style>
.add_prod {
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
}
</style>