<template>
    <div class="AddPurchaseOrder">
        <div class="add_purchase_order">
            <h3> Add Purchase Order</h3>
            <br>
            <form>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Vendor Name</th>
                            <td>
                                <input type ="text" class="form-control" name= "vendor" id="vendor" required> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"> Purchase Date </th>
                            <td> <input type="date" v-model="mydate" required/></td>
                        </tr>
                        <tr>
                            <th scope="row"> Item Order </th>
                            <td> 
                                <div v-for="(input, index) in itemOrder" :key="`phoneInput-${index}`" class = "item_order">
                                    <input type="text" placeholder="Item Name" required/> <br>
                                    <input type="number" placeholder="Quantity" required> <br>
                                    <input type="number" placeholder="Price" required> <br>
                                        <!--          Add Svg Icon-->
                                        <svg
                                            @click="addField(input, itemOrder)"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                            class="ml-2 cursor-pointer"
                                        >
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path
                                            fill="green"
                                            d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
                                            />
                                        </svg>

                                        <!--          Remove Svg Icon-->
                                        <svg
                                            v-show="itemOrder.length > 1"
                                            @click="removeField(index, itemOrder)"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                            class="ml-2 cursor-pointer"
                                        >
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path
                                            fill="#EC4899"
                                            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
                                            />
                                        </svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"> Status </th>
                            <td>
                                <select v-model="selected" required>
                                    <option disabled value="">Please select one</option>
                                    <option>process</option>
                                    <option>sent</option>
                                    <option>payment</option>
                                    <option>finished</option>
                                </select>
                                <br>
                                <span>Selected: {{ selected }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button id="create" name="create" class="btn btn-success">Add Order</button>
            </form>
        </div>
        <br>
        <br>
    </div>
</template>

<script>
export default {
  data: () => {
    return {
      selected: '',
      itemOrder: [{ item: "" }],
    };
  },
  methods: {
    addField(value, fieldType) {
      fieldType.push({ value: "" });
    },
    removeField(index, fieldType) {
      fieldType.splice(index, 1);
    },
  },
}
</script>


<style>
.add_purchase_order{
    margin-top:50px;
    margin-left: 120px;
    margin-right: 120px;
}

.cursor-pointer:hover{
    cursor: pointer;
}
</style>