<template>
    <div class="AddUser">
        <div class="add_user">
            <h3> Add New User</h3>
            <br>
            <form>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Username</th>
                            <td>
                                <input type ="text" class="form-control" name= "username" id="username" required> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>
                                <input type ="text" class="form-control" name= "name" id="name" required> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Password</th>
                            <td>
                                <input type="password" name= "password" id="password" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"> Gender </th>
                            <td>
                                <select v-model="selected" required>
                                    <option disabled value="">Please select one</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                                <br>
                                <span>Selected: {{ selected }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>
                                <input type ="text" class="form-control" name= "email" id="email" required> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Phone Number</th>
                            <td>
                                <input type ="text" class="form-control" name= "phoneNumber" id="phoneNumber" required> 
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button id="create" name="create" class="btn btn-success">Create Product</button>
            </form>
        </div>
        <br>
        <br>
    </div>
</template>

<script>
export default {
  data: () => {
    return {
      selected: ''
    };
  }
}
</script>

<style>
.add_user{
    margin-top:50px;
    margin-left: 120px;
    margin-right: 120px;
}
</style>