<template>
    <div class = "admin_navbar">
        <b-navbar toggleable="lg" type="dark" variant="dark">
            <b-navbar-brand>
                <b-img src="@/assets/sepedaku_logo.png" fluid style="max-height: 60px; margin-left: 20px"/>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item :to="'/admin/product/'" style="margin-left:25px;">PRODUCT</b-nav-item>
                    <b-nav-item :to="'/admin/user/'" style="margin-left:25px;">USER</b-nav-item>
                    <b-nav-item :to="'/admin/sales/'" style="margin-left:25px;">SALES ORDER</b-nav-item>
                    <b-nav-item :to="'/admin/purchase/'" style="margin-left:25px;">PURCHASE ORDER</b-nav-item>
                </b-navbar-nav>
            </b-collapse>

            <b-navbar-nav class="ml-auto">
                 <b-nav-item :to="'/'" style="margin-right: 25px">LOG OUT</b-nav-item>
            </b-navbar-nav>
        </b-navbar>
    </div>
</template>