<template>
  <div class="Product_List">
    <div class="product_list">
      <h3>Product List</h3>
      <br />
      <router-link
        :to="'/admin/product/add/'"
        class="add_button btn btn-primary"
        >Add New Product</router-link
      >
      <div class="search-wrapper">
        <input
          class="form-control"
          type="text"
          placeholder="Search Product ID.."
        />
      </div>
      <br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th></th>
            <th></th>
            <!-- Tambahin image gak? <th scope="col"> Image </th> -->
          </tr>
        </thead>
        <tbody class="product" v-for="product in itemData" :key="product.id">
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.sellPrice }}</td>
            <td>{{ product.quantity }}</td>
            <!-- <td> {{product.image}}</td> -->
            <td>
              <router-link
                :to="'/admin/product/edit/' + product.id"
                class="btn btn-primary"
              >
                EDIT
              </router-link>
            </td>
            <td>
              <button
                class="btn btn-danger"
                @click="deleteItemData(product.id)"
              >
                DELETE
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => {
    return {
      itemData: [],
    };
  },
  methods: {
    getItemData() {
      axios.get(`http://localhost:8000/items`).then((response) => {
        this.itemData = response.data;
      });
    },
    deleteItemData(itemId) {
      axios.delete(`http://localhost:8000/items/` + itemId).then((response) => {
        console.log(response);
        this.getItemData();
      });
    },
  },
  mounted() {
    this.getItemData();
  },
};
</script>

<style>
.Product_List {
  background: #f8f9fa;
}
.product_list {
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 120px;
}
.add_button {
  margin-bottom: 10px;
}
.search-wrapper {
  float: right;
  margin-right: 700px;
}
</style>