<template>
    <div class="Purchase_Order">    
        <div class="purchase_order">
            <h3> Purchase Order List </h3>
            <br>
            <router-link :to="'/admin/purchase/add/'" class="btn btn-primary">Add New Purchase Order</router-link>
            <br><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Item Order</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Vendor Name</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="product" v-for="purchase in itemData" :key="purchase.id">
                    <tr>
                        <td> {{purchase.id}}</td>
                        <td> {{purchase.itemOrder}}</td>
                        <td> {{purchase.purchaseDate}}</td>
                        <td> {{purchase.vendorName}}</td>
                        <td> xxxxx (total harga dari item order)</td>
                        <td> {{purchase.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
  data: () => {
    return {
      itemData: [
          {id:1,
          itemOrder:'1a,1b,1c',
          purchaseDate: '30 Agustus 2020',
          status: 'Payment',
          vendorName:'SerbaSepeda'
          }
      ],
    };
  }
}
</script>

<style>
.Purchase_Order{
    background: #f8f9fa;
}
.purchase_order{
    margin-top:80px;
    margin-left: 120px;
    margin-right: 120px;
}
</style>