<template>
    <div class="Sales_Order">    
        <div class="sales_order">
            <h3> Sales Order List </h3>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Cart ID</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Phone Number </th>
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Shipping Method </th>
                        <th scope="col">Payment Method </th>
                        <th scope="col">Credit Card </th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="product" v-for="sales in itemData" :key="sales.id">
                    <tr>
                        <td> {{sales.id}}</td>
                        <td> {{sales.customer.name}}</td>
                        <td> {{sales.cart.id}}</td>
                        <td> {{sales.receiverName}}</td>
                        <td> {{sales.receiverPhoneNumber}}</td>
                        <td> {{sales.date}}</td>
                        <td> {{sales.shippingAddress}}</td>
                        <td> {{sales.shippingMethod}}</td>
                        <td> {{sales.paymentMethod}}</td>
                        <td> {{sales.payment.creditCardInfo.cardNumber}}</td>
                        <td> {{sales.totalPrice}}</td>
                        <td>
                            <select v-model="sales.status" required>
                                <option disabled value="">Please select one</option>
                                <option>ON_PROCESS</option>
                                <option>PACKING</option>
                                <option>SHIPPING</option>
                                <option>DONE</option>
                            </select>
                            <br> <br>
                            <button id="change" name="change" class="btn btn-success" @click="changeStatus(sales)">CHANGE</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => {
    return {
      itemData: [],
    };
  },
  methods: {
    getOrderData() {
      axios.get(`http://localhost:8000/sales-order`).then((response) => {
        this.itemData = response.data;
      });
    },
    changeStatus(sales){
        axios.put(`http://localhost:8000/sales-order/`+sales.id,{
          status: sales.status
        }).then((response) => {
            console.log(response);
            window.alert("Status Updated!");
            this.getOrderData();
        });
    }
  },
  mounted() {
    this.getOrderData();
  },
}
</script>

<style>
.Sales_Order{
    background: #f8f9fa;
}
.sales_order{
    margin-top:80px;
    margin-left: 120px;
    margin-right: 120px;
}
</style>