<template>
  <div class="User_List">
    <div class="user_list">
      <h3>User List</h3>
      <br /><br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody class="product" v-for="user in itemData" :key="user.id">
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => {
    return {
      itemData: [],
    };
  },
  methods: {
    getUserData() {
      axios
        .get(`http://localhost:8000/customers`)
        .then((response) => {
          this.itemData = response.data;
        });
    },
  },
  mounted() {
    this.getUserData();
  },
};
</script>

<style>
.User_List {
  background: #f8f9fa;
}
.user_list {
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 120px;
}
</style>