<template>
  <div class="Add_User">
    <Header/>
    <div class = "dashboard">
        <Add/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import Add from '@/components/AdminPage/AddUser.vue'

export default {
  name: 'AddUser',
  components: {
    Header, Add
  }
}
</script>

<style>
.Add_User{
  background: #f8f9fa;
}
</style>