<template>
  <div class="Add_Product">
    <Header/>
    <div class = "dashboard">
        <Add/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import Add from '@/components/AdminPage/AddProduct.vue'

export default {
  name: 'AddProduct',
  components: {
    Header, Add
  }
}
</script>

<style>
.Add_Product{
  background: #f8f9fa;
}
</style>