<template>
  <div class="Add_PurchaseOrder">
    <Header/>
    <div class = "dashboard">
        <AddPurchaseOrder/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import AddPurchaseOrder from '@/components/AdminPage/AddPurchaseOrder.vue'

export default {
  name: 'PurchaseOrder',
  components: {
    Header, AddPurchaseOrder
  }
}
</script>

<style>
.Add_PurchaseOrder{
  background: #f8f9fa;
}
</style>