<template>
  <div class="AdminUser">
    <Header/>
    <div class = "dashboard">
        <UserList/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import UserList from '@/components/AdminPage/UserList.vue'

export default {
  name: 'AdminUser',
  components: {
    Header, UserList
  }
}
</script>

<style>
.AdminUser{
  background: #f8f9fa;
}
</style>