<template>
  <div class="AdminProduct">
    <Header/>
    <div class = "dashboard">
        <ProductList/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import ProductList from '@/components/AdminPage/ProductList.vue'

export default {
  name: 'AdminProduct',
  components: {
    Header, ProductList
  }
}
</script>

<style>
.AdminProduct{
  background: #f8f9fa;
}
</style>