<template>
  <div class="Edit_Product">
    <Header/>
    <div class = "dashboard">
        <Edit/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import Edit from '@/components/AdminPage/EditProduct.vue'

export default {
  name: 'EditProduct',
  components: {
    Header, Edit
  }
}
</script>

<style>
.Edit_Product{
  background: #f8f9fa;
}
</style>