<template>
  <div class="PurchaseOrder">
    <Header/>
    <div class = "dashboard">
        <PurchaseOrderList/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import PurchaseOrderList from '@/components/AdminPage/PurchaseOrderList.vue'

export default {
  name: 'PurchaseOrder',
  components: {
    Header, PurchaseOrderList
  }
}
</script>

<style>
.PurchaseOrder{
  background: #f8f9fa;
}
</style>