<template>
  <div class="SalesOrder">
    <Header/>
    <div class = "dashboard">
        <SalesOrderList/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/AdminPage/AdminHeader.vue'
import SalesOrderList from '@/components/AdminPage/SalesOrderList.vue'

export default {
  name: 'SalesOrder',
  components: {
    Header, SalesOrderList
  }
}
</script>

<style>
.SalesOrder{
  background: #f8f9fa;
}
</style>