<template>
  <div>
    <b-modal v-model="modalView" title="Cart Message" hide-footer
      >Address berhasil ditambahkan</b-modal
    >
    <Navbar />
    <div style="padding-left: 200px; padding-right: 200px; margin-top: 50px">
      <b-form @submit="onSubmit" @reset="onReset">

        <b-form-group id="input-group-1" label="City:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="dataObject.city"
            placeholder="Enter city name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Country:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="dataObject.country"
            placeholder="Enter country name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Postal Code:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="dataObject.postalCode"
            placeholder="Enter postal code"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-4" label="Province:" label-for="input-4">
          <b-form-input
            id="input-4"
            v-model="dataObject.province"
            placeholder="Enter province"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-5" label="Street:" label-for="input-5">
          <b-form-input
            id="input-5"
            v-model="dataObject.street"
            placeholder="Enter street name"
            required
          ></b-form-input>
        </b-form-group>

        <b-button
          type="submit"
          variant="primary"
          style="margin-top: 20px; margin-right: 10px"
          >Submit</b-button
        >
        <b-button type="reset" variant="danger" style="margin-top: 20px"
          >Reset</b-button
        >
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Navbar from "@/components/NavigationBar.vue";

export default {
  name: "Address",
  components: {
    Navbar,
  },
  data: () => {
    return {
      userId: "",
      dataObject: {
        city: "",
        country: "",
        postalCode: "",
        province: "",
        street: ""
      },
      modalView: false,
    };
  },
  methods: {
    getUserId() {
      this.userId = this.$route.params.userId;
    },
    onSubmit(event) {
      event.preventDefault();
      axios
        .post(
          `http://localhost:8000/customers/` + this.userId + `/addresses`,
          this.dataObject
        )
        .then((response) => {
          console.log(response.data);
          this.modalView = true;
          this.reset();
        });
    },
    onReset(event) {
      event.preventDefault();
      this.dataObject.city = "";
      this.dataObject.country = "";
      this.dataObject.postalCode = "";
      this.dataObject.province = "";
      this.dataObject.street = "";
    },
    reset() {
      this.dataObject.city = "";
      this.dataObject.country = "";
      this.dataObject.postalCode = "";
      this.dataObject.province = "";
      this.dataObject.street = "";
    },
  },
  mounted() {
    this.getUserId();
  },
};
</script>