<template>
  <div>
    <b-modal v-model="modalView" title="Cart Message" hide-footer
      >Credit card berhasil ditambahkan</b-modal
    >
    <Navbar />
    <div style="padding-left: 200px; padding-right: 200px; margin-top: 50px">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group
          id="input-group-1"
          label="Card Number:"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="dataObject.cardNumber"
            placeholder="xxxx-xxxx-xxxx-xxxx"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Card Name:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="dataObject.cardName"
            placeholder="Enter card name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          label="Security Code:"
          label-for="input-2"
        >
          <b-form-input
            id="input-2"
            v-model="dataObject.securityCode"
            placeholder="Enter security code"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-4"
          label="Expiration Date:"
          label-for="input-4"
        />
        <b-form-datepicker
          id="input-4"
          class="mb-2"
          v-model="dataObject.expirationDate"
        ></b-form-datepicker>

        <b-button
          type="submit"
          variant="primary"
          style="margin-top: 20px; margin-right: 10px"
          >Submit</b-button
        >
        <b-button type="reset" variant="danger" style="margin-top: 20px"
          >Reset</b-button
        >
      </b-form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Navbar from "@/components/NavigationBar.vue";

export default {
  name: "CreditCard",
  components: {
    Navbar,
  },
  data: () => {
    return {
      userId: "",
      dataObject: {
        cardNumber: "",
        cardName: "",
        expirationDate: "",
        securityCode: "",
      },
      modalView: false,
    };
  },
  methods: {
    getUserId() {
      this.userId = this.$route.params.userId;
    },
    onSubmit(event) {
      event.preventDefault();
      axios
        .post(
          `http://localhost:8000/customers/` + this.userId + `/ccinfo`,
          this.dataObject
        )
        .then((response) => {
          console.log(response.data);
          this.modalView = true;
          this.reset();
        });
    },
    onReset(event) {
      event.preventDefault();
      this.dataObject.cardNumber = "";
      this.dataObject.cardName = "";
      this.dataObject.expirationDate = "";
      this.dataObject.securityCode = "";
    },
    reset() {
      this.dataObject.cardNumber = "";
      this.dataObject.cardName = "";
      this.dataObject.expirationDate = "";
      this.dataObject.securityCode = "";
    },
  },
  mounted() {
    this.getUserId();
  },
};
</script>