<template>
  <div class="home">
    <!-- Contoh menempatkan navbar -->
    <Navbar/>

    <!-- Carousel -->
    <Carousel/>

    <!-- Menu Utama -->
    <MenuCard/>

    <!-- Footer -->
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/NavigationBar.vue'
import Carousel from '@/components/HomePage/Carousel.vue'
import MenuCard from '@/components/HomePage/MenuCard.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'Home',
  components: {
    Navbar,
    Carousel,
    MenuCard,
    Footer
  }
}
</script>
