<template>
  <div>
    <b-container class="bv-example-row">
      <b-row class="justify-content-md-center">
        <div class="m-5 p-5" style="max-width: 45rem">
          <b-card>
            <center>
              <h2 class="text-danger">Sign in your account</h2>
            </center>
            <br />
            <div class="form" label="User Name">User name
              <b-input v-model="person.username"></b-input>
            </div>
            <div class="form" label="Password">Password
              <b-input type="password" v-model="person.password"></b-input>
            </div>
            <br>
            <center>
              <b-button
                variant="danger mb-3"
                class="is-success"
                v-on:click="login()"
              >
                SIGN IN
              </b-button>
              <p class="text-muted">
                Don't have an account?
                <a
                  @click="goToRegister()"
                  class="card-link text-muted text-decoration-none"
                  style="cursor: pointer"
                >
                  Click here!</a
                >
              </p>
            </center>
          </b-card>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      person: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    goToRegister() {
      this.$router.push({ path: "/register-user" });
    },
    login() {
      axios
        .post(`http://localhost:8000/auth/login`, this.person)
        .then((response) => {
          if(response.data.type == "CUSTOMER"){
            this.$router.push({ path: "/home/" + response.data.id });
          }else{
            this.$router.push({ path: "/admin/product/" });
          }
        });
    },
  },
};
</script>

