<template>
  <div class = "ProductDetail">
    <Navbar/>
    <div class="dashboard_product_detail">
      <Item/>
    </div>
    <Footer/>
  </div>
</template>


<script>
import Navbar from '@/components/NavigationBar.vue'
import Item from '@/components/Item.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'ProductDetail',
  components: {
    Navbar, Item, Footer
  }
}
</script>

<style>

.dashboard_product_detail{
  background: #f8f9fa;
}
</style>
