<template>
  <div class="Product">
    <Navbar/>
    <div class = "dashboard">
      <ProductMain/>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Navbar from '@/components/NavigationBar.vue'
import Footer from '@/components/Footer.vue'
import ProductMain from '@/components/ProductMain.vue'

export default {
  name: 'Product',
  components: {
    Navbar, ProductMain, Footer
  }
}
</script>

<style>
.Product{
  background: #f8f9fa;
}
</style>
