<template>
  <div class="profile">
    <Navbar />
    <div class="menuRow">
      <b-row>
        <b-col>
          <b-row><h1 style="font-size: 28px">Profile</h1></b-row>
          <b-row class="textMenu" @click="showMyProfile()">My Profile</b-row>
          <b-row class="textMenu" @click="showAddressBook()"
            >Address Book</b-row
          >
          <b-row class="textMenu" @click="showCreditCard()">Credit Card</b-row>
          <b-row class="textMenu" @click="logout()">Log Out</b-row>
        </b-col>
        <b-col cols="8" style="padding-left: 80px">
          <b-col style="height: 100%">
            <b-row
              ><h2 style="font-family: Oswald; font-size: 24px">
                {{ headerText }}
              </h2></b-row
            >

            <div v-if="headerText == 'My Profile'" style="height: 100%">
              <b-row
                ><span class="text1">name: </span>
                <span class="text2">{{ profileData.name }}</span></b-row
              >
              <b-row
                ><span class="text1">email: </span>
                <span class="text2">{{ profileData.email }}</span></b-row
              >
              <b-row
                ><span class="text1">username: </span>
                <span class="text2">{{ profileData.username }}</span></b-row
              >
              <b-row
                ><span class="text1">phone number: </span>
                <span class="text2">{{ profileData.phoneNumber }}</span></b-row
              >
            </div>

            <div v-if="headerText == 'Credit Card Book'" style="height: 100%">
              <b-row v-for="(card, i) in creditCard" :key="card.id">
                <b-card style="margin-bottom: 20px">
                  <b-col>
                    <b-row
                      style="
                        font-size: 15px;
                        padding-bottom: 20px;
                        color: rgb(110, 110, 110);
                      "
                    >
                      card-{{ i + 1 }}
                    </b-row>
                    <b-row>
                      <b-card-text class="text1">card name:</b-card-text>
                      <b-card-text class="text2">{{
                        card.cardName
                      }}</b-card-text>
                    </b-row>
                    <b-row>
                      <b-card-text class="text1">card number:</b-card-text>
                      <b-card-text class="text2">{{
                        card.cardNumber
                      }}</b-card-text>
                    </b-row>
                    <b-row>
                      <b-card-text class="text1">expiration date:</b-card-text>
                      <b-card-text class="text2">{{
                        card.expirationDate.slice(0, 10)
                      }}</b-card-text>
                    </b-row>
                  </b-col>
                </b-card>
              </b-row>
              <b-row>
                <b-button variant="outline-info" @click="goToAddCreditCard()">Add Credit Card</b-button>
              </b-row>
            </div>

            <div v-if="headerText == 'Address Book'" style="height: 100%">
              
                <b-row v-for="(address, i) in addressData" :key="address.id">
                  <b-card style="margin-bottom: 20px">
                    <b-col>
                      <b-row
                        style="
                          font-size: 15px;
                          padding-bottom: 20px;
                          color: rgb(110, 110, 110);
                        "
                      >
                        address-{{ i + 1 }}
                      </b-row>
                      <b-row>
                        <b-card-text class="text1">city:</b-card-text>
                        <b-card-text class="text2">{{
                          address.city
                        }}</b-card-text>
                      </b-row>
                      <b-row>
                        <b-card-text class="text1">country:</b-card-text>
                        <b-card-text class="text2">{{
                          address.country
                        }}</b-card-text>
                      </b-row>
                      <b-row>
                        <b-card-text class="text1">postal code:</b-card-text>
                        <b-card-text class="text2">{{
                          address.postalCode 
                        }}</b-card-text>
                      </b-row>
                      <b-row>
                        <b-card-text class="text1">province:</b-card-text>
                        <b-card-text class="text2">{{
                          address.province 
                        }}</b-card-text>
                      </b-row>
                      <b-row>
                        <b-card-text class="text1">street:</b-card-text>
                        <b-card-text class="text2">{{
                          address.street 
                        }}</b-card-text>
                      </b-row>
                    </b-col>
                  </b-card>
                </b-row>
              <b-row>
                <b-button variant="outline-info" @click="goToAddAddress()">Add Address</b-button>
              </b-row>
            </div>
          </b-col>
        </b-col>
      </b-row>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/NavigationBar.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";

export default {
  name: "Profile",
  components: {
    Navbar,
    Footer,
  },
  data() {
    return {
      headerText: "My Profile",
      userId: "",
      profileData: "",
      creditCard: [],
      addressData: [],
    };
  },
  methods: {
    getUserId() {
      this.userId = this.$route.params.userId;
    },
    showMyProfile() {
      this.headerText = "My Profile";
    },
    showAddressBook() {
      this.headerText = "Address Book";
    },
    showCreditCard() {
      this.headerText = "Credit Card Book";
    },
    logout() {
      this.$router.push({ path: "/" });
    },
    getUserData() {
      axios
        .get(`http://localhost:8000/customers/` + this.userId)
        .then((response) => {
          this.profileData = response.data;
          console.log(response.data);
        });

      axios
        .get(`http://localhost:8000/customers/` + this.userId + `/ccinfo`)
        .then((response) => {
          this.creditCard = response.data;
          console.log(response.data);
        });

      axios
        .get(`http://localhost:8000/customers/` + this.userId + `/addresses`)
        .then((response) => {
          this.addressData = response.data;
          console.log(response.data);
        });
    },
    goToAddCreditCard(){
      this.$router.push({ path: "/credit-card/"+this.userId  });
    },
    goToAddAddress(){
      this.$router.push({ path: "/add-address/"+this.userId  });
    }
  },
  mounted() {
    this.getUserId();
    this.getUserData();
  },
};
</script>
<style>
.menuRow {
  padding-top: 100px;
  max-width: 60%;
  padding-left: 100px;
  padding-bottom: 250px;
}
.textMenu {
  cursor: pointer;
  font-size: 20px;
  border-bottom: 1px solid rgb(145, 145, 145);
  margin-top: 8px;
}
.text1 {
  font-size: 18px;
  font-family: "Oswald";
  color: rgb(0, 0, 0);
  margin-right: 10px;
  font-weight: 900;
}
.text2 {
  font-size: 18px;
  font-family: "Oswald";
  color: rgb(110, 110, 110);
  font-weight: 900;
}
</style>

