<template>
  <div class="container bv-example-row">
    <!-- <b-container class="bv-example-row"> -->
      <b-row class="justify-content-md-center">
        <div class="m-5 p-5" style="max-width: 45rem">
          <b-card>
            <center>
              <h2 class="text-danger">Create your account</h2>
              <h6 class="text-secondary">Use your email for registration:</h6>
            </center>
            <br>
            <div class="form" label="Name">Name
              <b-input v-model="person.name"></b-input>
            </div>
            <div class="form" label="User Name">User Name
              <b-input v-model="person.username"></b-input>
            </div>   
            <div class="form" label="Email">Email
              <b-input v-model="person.email"></b-input>
            </div>
            <div class="form" label="Password">Password
              <b-input type="password" v-model="person.password"></b-input>
            </div>
            <div class="form" label="Phone Number">Phone Number
              <b-input v-model="person.phoneNumber"></b-input>
            </div>
            <div class="form-group" label="Gender">Gender
                <b-form-radio v-model="person.gender"  name="some-radios" value="MALE">MALE</b-form-radio>
                <b-form-radio v-model="person.gender"  name="some-radios" value="FEMALE">FEMALE</b-form-radio>
            </div>
            <div class="mt-3">Selected: <strong>{{ person.gender }}</strong></div>
            <center>
              <br>
              <b-button
                class="is-success"
                variant="danger"
                v-on:click="register()"
              >
                SIGN UP
              </b-button>
              <p class="text-muted">
                Alredy have an account?
                <a
                  @click="goToLogin()"
                  class="card-link text-muted text-decoration-none"
                  style="cursor: pointer"
                >
                  SIGN IN</a
                >
              </p>
            </center>
          </b-card>
        </div>
      </b-row>
    <!-- </b-container> -->
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>

<script>
import axios from "axios";

export default {
  data() {
    return {
      gender:'',
      person: {
        name: "",
        username: "",
        email: "",
        password: "",
        phoneNumber: "",
        gender: "",
      },
    };
    
  },
  methods: {
    register() {
      axios
        .post(`http://localhost:8000/auth/register`, this.person)
        .then((response) => {
          this.$router.push({ path: "/home/" + response.data.id });
        });
    },
    goToLogin() {
      this.$router.push({ path: "/" });
    },
  },
};
</script>