<template>
    <div class="Carousel">

        <!-- banner home -->
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner mb-4">
                <div class="carousel-item active">
                    <img src="@/assets/1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@/assets/2.png" class="d-block w-100" alt="...">
                </div>
                </div>
            </div>
        </div>
    </div>
</template>