<template>
    <div class="MenuCard">
        <div class="container">
            <h5>HIGHLIGHT</h5>
            <div class="card-group">
                <div class="card border-light">
                    <div class="card-body">
                        <a href="#"><img src="@/assets/Bicycle.png" height="650" width="500" alt="" style="max-width: 35rem;"></a>
                    </div>
                </div>    
                <div class="card border-light">
                    <div class="card-body"> 
                        <a href="#"><img src="@/assets/helmet.png" class="mb-5" height="300" width="500" alt=""></a> 
                        <a href="#"><img src="@/assets/sparepart.png" height="300" width="500" alt=""></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</template>